<% if @website.errors.any? %>
	<h2>Oh noes, there were errors saving a new website!</h2>
	<ul>
		<% @website.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @website do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.submit %>
<% end %>