<% if @profile.errors.any? %>
	<h2>Oh noes, there were errors saving your profile!</h2>
	<ul>
		<% @profile.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @profile do |f| %>
	<%= f.label :app_id %>
	<%= f.select :app_id, @apps %>
	<br>
	<%= f.label :movie_id %>
	<%= f.select :movie_id, @movies %>
	<br>
	<%= f.label :album_id %>
	<%= f.select :album_id, @albums %>
	<br>
	<%= f.label :website_id %>
	<%= f.select :website_id, @websites %>
	<br>
	<%= f.submit %>
<% end %>