<h1>Your Profile</h1>
<p><%= @profile.album.title %></p>
<p><%= @profile.movie.name %></p>
<p><%= @profile.app.name %></p>
<p><%= @profile.website.name %></p>
<%= link_to "Edit Your Profile", edit_profile_path %>
