<% if @movie.errors.any? %>
	<h2>Oh noes, there were errors saving a new album!</h2>
	<ul>
		<% @movie.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @movie do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :director %>
	<%= f.select :director_id, @directors %>
	<br>
	<%= f.submit %>
<% end %>